<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/cardShop.css">
    <title>Web Shop</title>
</head>
<body>
    <header>
        <h2>Web Shops</h2>

        <nav>
            <a href="/shops">Shops</a>
            <a href="/">Home</a>
        </nav>
    </header>

    <section>
        <div class="content">
            <form action="/shopsCard" method="post">
                <h2>Name:</h2>
                <input name="name">
                <h2>Email:</h2>
                <input type="email" name="email">
                <h2>Phone:</h2>
                <input name="phone">
                <h2>Password:</h2>
                <input type="password" name="password">
                <input type="submit" value="submit" id="formSubmit">
            </form>
            <div class="collumBox">
                {{#if isProduct}}
                    {{#each cardProducts}}
                        <div class="productBox">
                            <h3>{{this.product.name}}</h3>
                            <p>{{this.product.body}}</p>
                            <h4>{{this.product.price}}</h4>
                            <h4>count: {{this.count}}</h4>
                            <div class="buttonBox">
                                <a class="btn m" href="?getObj={{this.product._id}}&typeButton=minusOne">-1</a>
                                <a href="?getObj={{this.product._id}}&typeButton=remove" class="btn">Delete Item</a>
                                <a class="btn m" href="?getObj={{this.product._id}}&typeButton=plusOne">+1</a>
                            </div>
                        </div>
                    {{/each}}
                {{/if}}
            </div>
            
        </div>
    </section>
    <footer>
            <div class="price">
                <h2>Total Price: {{this.finallCount}}</h2>
                <label for="formSubmit">Submit</label>
            </div>
        </footer>
</body>
</html>