<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/shop.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h2>Web Shops</h2>

        <nav>
            <a href="/">Home</a>
            <a href="/shopsCard">Shopping Card</a>
        </nav>
    </header>
    <div class="content">
        <div class="shops">
            {{#each shops}}
                <div class="title">
                    <h3><a href="/shops/{{this.name}}">{{this.name}}</a></h3>
                </div>
            {{/each}}
        </div>
        <div class="products">
            {{#if isProduct}}
                {{#each product}}
                    <div class="productBox">
                        <h3>{{this.name}}</h3>
                        <p>{{this.body}}</p>
                        <h4>{{this.price}}</h4>
                        <a href="?getObj={{this._id}}">Add Card</a>
                    </div>
                {{/each}}
            {{/if}}
        </div>
    </div>
</body>
</html>